*{
    margin: 0;
    padding: 0;
}

html, body{
    overflow-x: hidden;
}


main, main h1, main h2, main h3, main h4, main h5, main h6, main p, main a{
    font-family: 'Noto Serif SC', serif;
}

#leadership #inner-container{
    width: 1200px;
    max-width: 100%;
    margin: auto;
    padding: 40px 0;
}

#leadership h2{
    width: fit-content;
    color: #b2b5b7;
    font-size: 20px;
    letter-spacing: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid #3DCBB9;
    margin: 0 0 30px 15px;
}

#leadership #flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 0 30px;
}

#leadership #flex-container figure{
    background-color: white;
    color: black;
}

#leadership #flex-container #img-container{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#leadership #flex-container .img-type-1{
    width: 250px;
    transition: transform .2s;
}

#leadership #flex-container .img-type-2{
    height: 250px;
    transition: transform .2s;
}

#leadership #flex-container #justify1{
    width: 340px;
    height: 340px;
    object-fit: cover;
    object-position: -40px -70px;
}

#leadership #flex-container #justify2{
    object-fit: cover;
    object-position: 0 -85px;
}

#leadership #flex-container .name{
    margin: 25px 20px 10px 20px;
    font-size: 18px;
}

#leadership #flex-container .position{
    font-size: 15px;
    margin: 0 20px 15px 20px;
}

#leadership #flex-container .bio{
    margin: 0 25px 20px 25px;
    color: #3DCBB9;
}

#leadership #flex-container .bio span{
    font-size: 18px;
    font-weight: 900;
    transition: transform .2s;
}

#leadership #flex-container figure:hover img{
    transform: scale(1.1);
}

#leadership #flex-container figure:hover span{
    transform: translate(20px, 0);
}