
  body {
    margin:0;
    overflow-x: hidden;
}

ul {
    list-style: none;
    color: #1c4587;
}

a {
    text-decoration: none;
}



  .links{
      color: white;
      font-size: 23px;
      margin: 25px;
     transition: 0.2s;
     margin-bottom: 0px;
  }


/*START*/
.pub-sect{
  width:100%;
  margin:auto;
}
.heading{
  width:100%;
}
.heading h1{
  margin-bottom:0;
}
.heading-text{
      border-bottom: 1px solid #808080;
      margin-bottom:3%;
}
.pub-main{
  display:flex;
  flex-direction:column;
}
.pub-wrapper{
  display:flex;
  flex-direction:row;
  width:70%;
  margin:auto;
}

.pub-img img{
  width:200px;
  margin-right:1.8em;

border: solid 1px #ccc;
}
.pub{
  display:flex;
  flex-direction:row;
  margin-bottom: 23px;
  padding-bottom: 25px;
  border-bottom: dotted 1px #ccc;
}

.pub-text a{
  font-size:1.25em;
  color: #2178b5;
}
.pub-text a:hover{
  color: #ff7600;
}
.bold-p{
  font-weight:600;
}

.pub-text .rights-perms{
  font-size:1rem;
}
.mission-statement{
  margin-top:4%;
width:25%;
padding:20px;
display:block;
border: 1px solid #ddd;
border-top: 4px solid #00356b;
height:50%;
margin-left:5%;
}
.sidebar-title:before{
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  bottom: 0;
  left: 25%;
  border-bottom: 1px solid #ddd;
}
.sidebar-title{
  text-align:center;
  display: inline-block;
  padding-top:25px;
padding-bottom: 10px;
position: relative;
width:100%;
}
.sidebar-text{
      font-size: 1.1875rem;
      text-align:center;
      padding-top:5%;
}
.sidebar-title h1{
  color:#286dc0;
  text-align: center;
  font-size:1.5rem;
  margin:auto;
}
.sidebar-button{
border: 1px solid #ddd;
width:45%;
margin:auto;
}
.sidebar-button a{
  color:black;
  text-decoration: none;
align-items: center;
  margin:auto;
text-align:center;
}
.sidebar-button a:hover{
  color:white;
}
.sidebar-button:hover{
  background-color:#1c4587;
}

.sidebar-button p{
  text-transform: uppercase;
margin:0;
  padding:14px 0;
}
.sidebar-text{
  margin-top:1rem;
  margin-bottom:3rem;
}
@media screen and (max-width: 1024px){
  .pub-wrapper{
    flex-direction:column-reverse;
    width:100%;
  }
  .mission-statement{
    width:90%;
    margin:auto;
    padding:0;
    padding-bottom:30px;
  }
  .pub-sect{
    width:90%;

  }
  .pub{
    flex-direction:column;
  }

  .pub-img{
    padding-bottom:10px;
    margin:auto;
  }
  .pub-img img{
margin:0;
width:100%;
  }
}
@media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .pub-wrapper{
      width:85%;
    }
  }
  @media only screen
  and (min-width: 1024px)
  and (max-height: 1366px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .mission-statement{
      height:400px;
      margin-top:30px;
    }
    .sidebar-title h1{
      font-size:3rem;
    }
    .sidebar-text p{
      font-size:2rem;
    }
    .sidebar-button a p{
      font-size:2rem;
    }
    .heading-text span{
      font-size:3rem;
    }
    .pub-text a{
      font-size:2.5rem;
    }
    .pub-text p{
      font-size:2rem;
    }
    .pub-text .rights-perms {
      font-size:1.5rem;
    }
  }
