body{
    overflow-x: hidden;
}
/*.arttemp{
    margin: 0;
    padding: 0;
    position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  text-align: center;
  
  }*/

  .arttemp{
      text-align: center;
      margin-top: 30px;
  }
  .arttitle{
    font-size: 1.9375rem;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #122311;
    
  }
  
  .bigartcap{
    font-size: 1.25rem;
    width: calc(100% - 40px);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-bottom: 25px;
    border-bottom: 1px solid #122311;
  }
  
  
  
  .socialicons{
    margin: 15px;
    margin-right: 450px;
    padding-top: 10px;
    margin-bottom: 40px;
  }
  .socialicons a{
    background: rgb(236, 236, 236);
    border-radius: 50%;
    padding: 5px;
    color: #122311;
    margin: 5px;
   
  }
  .socialicons a i{
    width: 20px;
  }
  .socialicons a:hover{
    background-color: white;
    border: 1px solid #122311;
  }
  .artimg{
    width: 600px;
    height: 100%;
    object-fit: cover;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   margin-top: 50px;
  }
  
  .artimg img{
    width: 100%;
    height: 100%;
  
  }
  
  .imgtxt{
    text-align: left;
    font-size: 0.875rem;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  
  .imgtxt span{
   color: #666;
  }
  
  .info{
    margin-right: 500px;
    font-size: 0.95rem;
  }
  .author{
    font-weight: 900;
   margin-bottom: 20px;
   margin-left: 20px;
  
  }
  .date{
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .paragraph{
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    max-width: 600px;
    text-align: left;
    font-size: 1.125rem;
    margin-bottom: 20px;
    line-height: 1.5625rem;
  }
  .source{
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 40px);
    max-width: 600px;
    text-align: left;
    font-size: 0.75rem;
    margin-bottom: 20px;
    line-height: 1.5625rem;
  }
  
  
  @media screen and (max-width: 900px) {
    .arttemp{
      overflow: hidden;
      z-index: 999;
    }
    .socialicons{
      display: flex;
    }
    .artimg{
      width: 100%;
    }
  
    .info{
      white-space: nowrap;
    }
    .author{
      margin: 0;
      margin-left: 10px;
    }
  
    .paragraph{
      padding-right: 20px;
     
    }
    .imgtxt{
      padding-right: 20px;
      padding-left: 10px;
    }
  
    
   
  }
  
  
 
  
  
  
  
  